In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
#Dictionary with usernames, their most watched web series and rating out of 5

dataset = {
    'user1':{'Special Ops': 5,
             'Criminal Justice': 3,
             'Panchayat': 3,
             'Sacred Games': 3,
             'Apharan': 2,
             'Mirzapur': 3,},
    'user2':{'Special Ops': 5,
             'Criminal Justice': 3,
             'Panchayat': 5,
             'Sacred Games': 5,
             'Apharan': 3,
             'Mirzapur': 3},
    'user3':{'Special Ops': 2,
             'Panchayat': 5,
             'Sacred Games': 3,
             'Mirzapur': 4,},
    'user4':{'Panchayat': 5,
             'Sacred Games': 4,
             'Mirzapur': 4},
    'user5':{'Special Ops': 4,
             'Criminal Justice': 4,
             'Panchayat': 4,
             'Sacred Games': 2,
             'Mirzapur': 4},
    'user6':{'Special Ops': 3,
             'Mirzapur': 4,
             'Panchayat': 3,
             'Sacred Games': 5,
             'Apharan': 3
             },
    'user7':{'Panchayat': 4,
             'Sacred Games': 4,
             'Apharan': 1
             }}

In [7]:
dataset_df = pd.DataFrame(dataset)
dataset_df.fillna("Not seen yet",inplace=True)
dataset_df.head()

,user1,user2,user3,user4,user5,user6,user7
Special Ops,5,5,2.0,Not seen yet,4.0,3.0,Not seen yet
Criminal Justice,3,3,Not seen yet,Not seen yet,4.0,Not seen yet,Not seen yet
Panchayat,3,5,5.0,5.0,4.0,3.0,4.0
Sacred Games,3,5,3.0,4.0,2.0,5.0,4.0
Apharan,2,3,Not seen yet,Not seen yet,Not seen yet,3.0,1.0

In [8]:
def unique_items():
    unique_items_list = []
    for person in dataset.keys():
        for items in dataset[person]:
            unique_items_list.append(items)
    s=set(unique_items_list)
    unique_items_list = list(s)
    return unique_items_list

In [9]:
unique_items()

['Criminal Justice',
 'Special Ops',
 'Mirzapur',
 'Sacred Games',
 'Apharan',
 'Panchayat']

In [13]:
def item_similarity(item1,item2):
    both_rated = {}
    for person in dataset.keys():
        if item1 in dataset[person] and item2 in dataset[person]:
            both_rated[person] = [dataset[person][item1],dataset[person][item2]]
            
    number_of_ratings = len(both_rated)
    if number_of_ratings == 0:
        return 0

    item1_rating = [[dataset[k][item1] for k,v in both_rated.items() if item1 in dataset[k] and item2 in dataset[k]]]
    item2_rating = [[dataset[k][item2] for k,v in both_rated.items() if item1 in dataset[k] and item2 in dataset[k]]]

    cs = cosine_similarity(item1_rating,item2_rating)
    return cs[0][0]

In [15]:
print("cosine similarity:: ",item_similarity('Panchayat','Special Ops'))

cosine similarity::  0.9206786552629431

In [18]:
def most_similar_items(target_item):
    un_list = unique_items()
    scores = [(item_similarity(target_item,other_item), target_item+"-->" + other_item) for other_item in un_list if other_item!=target_item]
    scores.sort(reverse=True)
    return scores

In [19]:
print(most_similar_items('Panchayat'))

[(0.9731228092024713, 'Panchayat-->Mirzapur'), (0.9701425001453318, 'Panchayat-->Criminal Justice'), (0.9472226608515917, 'Panchayat-->Sacred Games'), (0.9229729926564355, 'Panchayat-->Apharan'), (0.9206786552629431, 'Panchayat-->Special Ops')]

In [20]:
def target_movies_to_users(target_person):
    target_person_movie_lst = []
    unique_list = unique_items()
    for movies in dataset[target_person]:
        target_person_movie_lst.append(movies)
    
    s=set(unique_list)
    recommended_movies=list(s.difference(target_person_movie_lst))
    a=len(recommended_movies)
    if a==0:
        return 0
    return recommended_movies,target_person_movie_lst

In [21]:
unseen_movies, seen_movies = target_movies_to_users('user7')
dct = {"unseen_movies": unseen_movies, "seen_movies" : seen_movies}
pd.DataFrame(dct)

      unseen_movies   seen_movies
0  Criminal Justice     Panchayat
1          Mirzapur  Sacred Games
2       Special Ops       Apharan